body{
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}



main{
    width: 80%;
    margin: 0 auto;
   
    display: flex;
}

main .carrito{
    margin: 120px auto;
    padding: 10px;
    height: auto;
    
    background-color: gray;
}

section div{
    align-content: center;
}


.navbar-toggler{
    border: none;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}


.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
    
}
.navbar-custom-height {
    height: 90px;
    background-color: white;
}

.containers{
    margin-top: 110px;
}


.nav-link:hover , .nav-link.activate{
    color: #000;
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    
    color: blue;
    width: 100%;
}

.nav-link:hover::before, .nav-link:active::before{
    width: 100%;
    visibility: visible;
}

footer{
    background-color: whitesmoke;
    height: 80px;
    bottom: 0;
    margin-top: auto;
    align-content: center;
    
    
}

footer div{
    text-align: center;
}


.card{
    width: 80%;

    margin: 0 auto;
    
   
}

.card img{
    width: 100%;
    height: 190px;
}


@media (max-width:1220px) {

    main{
        width: 80%;
        margin: 50px auto;
        display: block;
    }


  

    .col{
        width: 100%;
        
    }



}

  
    
@media (max-width:600px) {

    main{
        
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    main div{
        width: 100%;
        margin: 0;
        
    }


  

    .col{
        width: 100%;
       ;
        
    }

    .card{
        width: 100%;
    }



}

